<h1>#<%= @conversation.name %></h1>
<div id="messages" data-coversation-id="<%= @conversation.id %>">
  <% @conversation.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.username %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>
