<%= simple_form_for @ticket do |f| %>

      <br>
      <%= f.input :description, as: :text, placeholder: "Write here...", input_html: { class: "type-field-tickets" }, label: false; %>
      <br><br>

    <div class ="form-inline audio-spot">
    <h4>Or record <br> an audio</h4>
    <%= image_tag "microphone.png", :id => "start", width:'140px', height:'131px', class: 'microphone' %>
    <%= image_tag "microphone2.png", :id => "stop", width:'140px', height:'131px', :style => "display: none", class: 'microphone'%>
      <!--<%= f.input :audio, as: :file, input_html: { accept: "audio/*;capture=microphone"}, label: false; %> -->
    </div>

    <br><br>
    <div class="form-inline img-upload-spot">
     <div>
      <%= f.input :photos, as: :file, input_html: { multiple: true , class: "inputfile", :"data-multiple-caption" => "{count} files selected" }  %>
      <% f.input :video, as: :file, label: false %>
      <span></span>
    </div>
      <br>
      <h4>You can also <br> upload a photo</h4>
    </div>
    
    

     <%= f.button :submit, value: "Submit", class: "btn btn-yellow btn-yellow-home" %>



<% end %>
<div>
  <!-- <img id="start" src="login_guy"/>
  <img id="stop" src="login_guy"/> -->
  <% link_to('Start', 'javascript:;', :id => "start") %>
  <% link_to('Stop and submit', 'javascript:;', :id => "stop") %>


  <div>
    <video style="border: 1px solid black" id="live" width="1" height="1" autoplay muted></video>
  </div>
</div>
