<div class="d-flex">
  <div id="sidebar" class="px-2">
    <h1>My info</h1>
    <h4><%= @helper.username %></h4>
    <h2>My info</h2>
    <br>
    <h4>Rating: * * * * *</h4>
    <p><a href="">Achievements</a></p>
    <p><a href="">Active tickets</a></p>
    <p><a href="">Tickets solved</a></p>
    <p><a href="">People helped</a></p>
    <p><a href="">Streak</a></p>
  </div>

  <div>
    <div class="d-flex justify-content-around align-items-center" id="right-of-sidebar">
      <h2>Devices:</h2>
      <%= image_tag "home_girl.png", :id => "start", width:'110px', height:'100px'%>
      <%= image_tag "upload-img.png", :id => "start", width:'110px', height:'100px'%>
      <%= image_tag "placeholder.png", :id => "start", width:'110px', height:'100px'%>
    </div>
    <hr>
    <div id="dashboard-ticket-container">
      <% @tickets.each do |ticket| %>
      <p><%= ticket.description %></p>
      <% end %>
    </div>

  </div>

</div>
