<div class="d-flex">

  <div id="sidebar">
    <h4><strong> Welcome to your profile, <%= @helper.username %>! </strong></h4>
    <br>

    <div class="form-inline">
      <h5>Rating </h5>
     <%= image_tag "stars.png", id: "stars"%>
    </div>
    <br>

    <div class="helper-info">
      <p><a href="">Achievements</a></p>
      <p><a href="">Active tickets</a></p>
      <p><a href="">Tickets solved</a></p>
      <p><a href="">People helped</a></p>
      <p><a href="">Streak</a></p>

      <h4>Log out</h4>
    </div>


  </div>

  <div id="sidebar-right">
    <div class="d-flex justify-content-around align-items-center" id="right-of-sidebar">
      <h2>Devices:</h2>
      <%= image_tag "phone.png", :id => "start", width:'110px', height:'100px'%>
      <%= image_tag "ipad.png", :id => "start", width:'110px', height:'100px'%>
      <%= image_tag "laptop.png", :id => "start", width:'110px', height:'100px'%>
    </div>
    <hr>

    <h4> Tickets </h4>
    <div id="dashboard-ticket-container">

      <% @tickets.each do |ticket| %>
      <button class="accordion-dashboard"><%= ticket.description.split.first(3).join( " " ) + "..." %></button>
      <div class="panel">
        <p><%= ticket.description %></p>

        <div class="accordion-img">
        <%= image_tag "expand-img-btn.png", id: "dashboard-expand-img", width:'50px', height:'50px'%>
         <% if ticket.video.attached? %>
           <video style="display:none" src="<%= url_for(ticket.video) %>" height="200" width="300" controls></video>
         <% end %>
         <%= image_tag "chat.png", id: "dashboard-chat-img", width:'50px', height:'50px'%>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div><!--#d-flex-->
